body {
  font-family: "Raleway", sans-serif;
}

.navbar {
  background-color: black;
}

/* Hero Section */

#Hero-Section {
  background-image: url("../img/bg-hero.jpg") !important;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
}

.my-4 {
  display: flex;
  text-align: justify;
  justify-content: center;
}

/* Mis trabajos */

#Mis-trabajos .image-top {
  height: 250px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: #439aa7;
}

.navbar-brand {
  width: 400px;
}

/* Contacto */

.datos_formulario {
  display: flex;
  text-align: justify;
  justify-content: center;
  font-family: "Raleway. Light", sans-serif;

}

.container_4 {
  font-family: "Raleway. Light", sans-serif;
  text-align: center;
  font-size: 13pt;
  display: flex;

}

.text_formulario {
  font-family: "Raleway. Light", sans-serif;
  font-size: 15pt;
  width: auto;
}

.container_5 {
  width: 1782px !important;
  width: auto;
  height: 100px;
  display: flex;
  flex-direction: row !important;
  background-color: black;
  justify-content: space-evenly;
  background-repeat: repeat-x;
  align-items: center;
}

.text_footer {
  display: flex;
  flex-direction: row !important;
  justify-content: center;
}

.final {
  width: 1280pt !important;
  background-color: black;
  width: auto;
}